@font-face {
	font-family: 'coffekan';
	src: url('../fonts/coffekan.ttf') format('truetype')
}
@font-face {
	font-family: 'harmond';
	src: url('../fonts/Harmond-ExtraBoldExpanded8.otf') format('opentype'),
      url('../fonts/Harmond-ExtraBoldExpanded8.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: #EEE7E1;
}

nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #EEE7E1;
}

nav .burguerNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .burguerNav a{
    text-align: center;
    font-family: 'coffekan';
    font-size: 50px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav .burguerNav .burguer{
    right: 15px;
    top: 15px;
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .burguerNav .burguer .bar{
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
    transition: ease-in .3s;
}

nav .burguerNav .burguer .up{
    transform: translateY(-13px);
}

nav .burguerNav .burguer .mid{
    width: 45px;
    opacity: 1;
}

nav .burguerNav .burguer .down{
    transform: translateY(13px);
}

nav .burguerNav .burguer .up.active{
    width: 50px;
    transform: rotateZ(-45deg);
}

nav .burguerNav .burguer .mid.active{
    opacity: 0;
}

nav .burguerNav .burguer .down.active{
    width: 50px;
    transform: rotateZ(45deg);
}

nav .link{
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    font-size: 0px;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav .link.active{
    opacity: 1;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav .link a{
    font-family: 'harmond';
    text-decoration: none;
    color: #000;
    transition: ease .3s;
}

a.animation:hover{
    color: rgb(53, 53, 53);
}

div.header{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.header h1{
    font-family: 'harmond';
    font-size: 1000%;
}

div.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

div.info svg{
    color: #000;
    text-decoration: none;
    margin-top: 20px;
}

footer{
    margin-top: 50px;
    border-top: 5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer{
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 800px) {
    nav .burguerNav a{
        text-align: center;
        font-family: 'coffekan';
        font-size: 40px;
        text-decoration: none;
        color: black;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div.header h1{
        font-family: 'harmond';
        font-size: 500%;
    }
    div.info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
  }
